<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		{{>header }}
		<img id="picCyberGirl"
			src="/images/robotGirlCyberPunk.jpg"
			/>
		{{>footer }}
	</body>
</html>