<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		<h1>{{ title }} served up!</h1>
		<img id="picCyberGirl"
			src="/images/robotGirlCyberPunk.jpg"
			/>
		<h1>{{ name }}</h1>
	</body>
</html>